<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MockingSpongebobText.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MockingSpongebobText.Properties.Settings>
            <setting name="UsingControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsingShift" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsingAlt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyIndex" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="MockType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlwaysUppercaseLs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysLowerCaseOs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysLowercaseIs" serializeAs="String">
                <value>False</value>
            </setting>
        </MockingSpongebobText.Properties.Settings>
    </userSettings>
</configuration>